
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="section section--left section--leadership">
    <div class="section__body">
        {% if profile.image %}
            {% image profile.image max-400x300 as section_image %}
            <div class="section__image" style="max-width: {{ section_image.width }}px">
                <img src="{{ section_image.url }}" width="{{ section_image.width }}"
                     height="{{ section_image.height }}" alt="{{ section_image.alt }}"/>
            </div>
        {% endif %}
        <div class="section__content">
            <div class="profile profile--bio">
                <div class="profile__header">
                    <h2 class="profile__name">{{ profile.name }}</h2>
                    <span class="profile__title">{{ profile.title }}</span>
                    <span class="profile__social-icons">
                    {% if profile.twitter_url %}
                    <a href="{{ profile.twitter_url }}" class="icon-link icon-link--compact">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    {% endif %}
                    {% if profile.facebook_url %}
                    <a href="{{ profile.facebook_url }}" class="icon-link icon-link--compact">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    {% endif %}
                    {% if profile.instagram_url %}
                    <a href="{{ profile.instagram_url }}" class="icon-link icon-link--compact">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    {% endif %}
                    {% if profile.email %}
                    <a href="mailto:{{ profile.email }}" class="icon-link icon-link--compact">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    {% endif %}
                    </span>
                </div>
                {{ profile.bio|richtext }}
            </div>
        </div>
    </div>
</section>
