
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% with align=align|default:''|lower %}
<section class="section{% if align == 'right' %} section--right{% elif align == 'left'%} section--left{% endif %}{% if type %} section--{{ type|lower }}{% endif %}">
    <div class="section__body">
        {% if value.image %}
        {% image value.image max-400x300 as section_image %}
        <div class="section__image" style="max-width: {{ section_image.width }}px">
            <img src="{{ section_image.url }}" width="{{ section_image.width }}"
                 height="{{ section_image.height }}" alt="{{ section_image.alt }}"/>
        </div>
        {% endif %}
        <div class="section__content{% if not value.image and flatten == 'true' %} section__content--flatten{% endif %}">
            {% if value.header %}
            <h3 class="section__name">{{ value.header }}</h3>
            {% endif %}
            <div class="section__subcontent">
                {{ value.content|richtext }}
            </div>
        </div>
    </div>
</section>
{% endwith %}
