
$pastel-blue: #ACC4C1;
$tropical-rain-forest: #006D62;
$onyx: #373F3E;
$sonic-silver: #697776;
$silver-sand: #BEC1C1;

$color-hl-light: $pastel-blue;
$color-hl-dark: $tropical-rain-forest;
$color-bg-dark: $onyx;
$color-bg-med: $sonic-silver;
$color-bg-light: $silver-sand;
