
$pastel-blue: #acc4c1;
$tropical-rain-forest: #006b60;
$warm-black: #004740;
$onyx: #323a29;
$sonic-silver: #697776;
$silver-sand: #bec1c1;
$light-grey: #d1d4d4;
$anti-flash-white: #f2f2f2;

$color-hl-1: $pastel-blue;
$color-hl-2: $tropical-rain-forest;
$color-hl-3: $warm-black;
$color-bg-1: $anti-flash-white;
$color-bg-2: $silver-sand;
$color-bg-3: $sonic-silver;
$color-bg-4: $onyx;
$color-border: $light-grey;
