

// Links


%inline-link {
  color: $color-hl-3;

  &:hover {
    color: $color-hl-3;
  }
}

.rich-text {
  a {
    @extend %inline-link;
  }
}

.external-link {
  @extend %inline-link;

  text-transform: uppercase;

  &--footer {
    display: inline-block;
    margin-top: 0.75rem;
    font-size: $font-size-base;  // Override parent
  }
}

.icon-link {
  display: inline-block;
  margin: 0 1.25em;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--compact {
    margin: 0 .5em;
  }
}


// Inline


.spacer {
  @include media-breakpoint-up($bp-content-width) {
    display: inline-block;
  }

  display: none;
  margin: 0 1rem;
  color: $color-border;

  &--inverse {
    color: $white;
  }
}


// Buttons


.btn {

  font-size: $font-size-base;
  text-transform: uppercase;

  &-scpc-primary {
    @include button-variant(
      $background: $color-btn-default,
      $border: $color-btn-default,
      $active-background: $color-btn-active,
      $active-border: $color-btn-active
    );
  }
}


// Horizontal Rules


@mixin hrule-spacing($ratio: 1, $reduce-by: 0) {
  @include media-breakpoint-up($bp-content-width) {
    padding: spacing-y($section-py-lg, $ratio, $reduce-by) 0;
  }

  padding: spacing-y($section-py-sm, $ratio, $reduce-by) 0;
}


.hrule {
  $root: &;

  $hrule-text-height: $font-size-lg * $headings-line-height - 1 / 16;  // Subtract hr border-top

  width: 100%;  // Explicitly state this in case this is used in a flex container
  padding: 0 2rem;

  &__hr {
    hr {
      width: 100%;
      margin: 0;
      border-top: 1px solid rgba($color-border, 0.75);
    }
  }


  // Header and Text Rules


  &--header, &--text {
    @include media-breakpoint-up($bp-content-width) {
      width: 60%;
      min-width: 400px;
      margin: auto;
    }

    display: flex;
    align-items: center;
    padding: 0;  // Reset
    text-align: center;

    #{$root}__hr {
      @include hrule-spacing($ratio: 0.5);

      flex: 1 1 0;
      width: 100%;
    }

    #{$root}__text {
      @include hrule-spacing($ratio: 0.5, $reduce-by: $hrule-text-height);

      flex: 0 0 auto;
      margin: 0 2rem;
      font-size: $font-size-lg;
      font-style: italic;
      letter-spacing: 0.1em;
      color: $color-hl-3;
    }

    p {
      margin-bottom: 0;  // Bootstrap reset
    }
  }


  &--header {
    #{$root}__hr {
      // Reduce &__text padding-top
      @include media-breakpoint-up($bp-content-width) {
        padding-top: spacing-y($section-py-lg, $ratio: 0.15);
      }

      padding-top: spacing-y($section-py-sm, $ratio: 0.5);
    }

    #{$root}__text {
      // Reduce &__text padding-top
      @include media-breakpoint-up($bp-content-width) {
        padding-top: spacing-y($section-py-lg, $ratio: 0.15, $reduce-by: $hrule-text-height);
      }
      @include media-breakpoint-up($bp-content-font) {
        font-size: $font-size-xl;
      }

      padding-top: spacing-y($section-py-sm, $ratio: 0.5, $reduce-by: $hrule-text-height);
      font-family: $font-family-header;
      font-weight: $font-weight-header;
      font-size: $font-size-lg;
      font-style: normal;  // Reset
    }
  }


  // Widths


  &--narrow {

    padding: 0;  // Reset

    #{$root}__hr {
      width: 30%;
      min-width: 72px;
      margin: auto;
    }
  }
}


// Misc


.map {
  @include media-breakpoint-up($bp-content-width) {
    height: 50vh;
  }

  height: 50vmax;
  min-height: 300px;
  background-color: $color-hl-2;
}


.address {

  $root: &;

  margin: 0 auto;
  font-size: $font-size-md;
  text-align: center;

  &-sm {
    font-size: $font-size-base;
  }

  &-lg {
    font-size: $font-size-lg;

    #{$root}__name {
      font-weight: $font-weight-regular;
    }
  }
}
