
// Links

@mixin inline-link {
  color: $color-hl-4;

  &:hover {
    color: $color-hl-4;
  }
}

.rich-text a {
  @include inline-link;
}

.external-link {
  @include inline-link;

  text-transform: uppercase;
}

.external-link--footer {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: $font-size-base;
}

.icon-link {
  display: inline-block;
  margin: 0 1rem;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }
}

// Inline

.spacer {
  display: inline-block;
  content: '|';
  margin: 0 1rem;
  color: $color-border;

  &--inverse {
    color: $white;
  }
}