
/* Links */

@mixin inline-link {
  color: $color-hl-dark;

  &:hover {
    color: $color-hl-dark;
  }
}

.rich-text a {
  @include inline-link;
}


.external-link {
  @include inline-link;

  text-transform: uppercase;
}

.external-link--footer {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: $font-size-base;
}

.icon-link {
  text-transform: none;

  &:hover {
    text-decoration: none;
  }
}