

// Links


%inline-link {
  color: $color-hl-3;

  &:hover {
    color: $color-hl-3;
  }
}

.rich-text a {
  @extend %inline-link;
}

.external-link {
  @extend %inline-link;

  text-transform: uppercase;

  &--footer {
    @include media-breakpoint-up($bp-content-font) {
      font-size: $font-size-md;
    }

    display: inline-block;
    margin-top: 0.75rem;
    font-size: $font-size-base;
  }
}

.icon-link {
  display: inline-block;
  margin: 0 1.25rem;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }
}


// Inline


.spacer {
  @include media-breakpoint-up($bp-content-width) {
    display: inline-block;
  }

  display: none;
  margin: 0 1rem;
  color: $color-border;

  &--inverse {
    color: $white;
  }
}


// Horizontal Rules


@mixin hrule-spacing($ratio: 1, $reduce-by: 0) {
  padding: spacing-y($section-py-lg, $ratio, $reduce-by) $content-px / 2;
}


.hrule {

  $root: &;

  $hrule-text-height: $font-size-lg * $line-height-base - (1 + .375) / 16;  // Subtract hr border-top

  &__hr {
    @include hrule-spacing();

    hr {
      width: 100%;
      margin: 0;
      border-top: 1px solid rgba($color-border, 0.75);
    }
  }

  &--header, &--text {
    display: flex;
    align-items: center;
    text-align: center;

    #{$root}__hr {
      @include hrule-spacing($ratio: 0.5);

      flex: 1 1 0;
      width: 100%;
    }

    #{$root}__text {
      @include hrule-spacing($ratio: 0.5, $reduce-by: $hrule-text-height);

      flex: 0 0 auto;
      width: auto;
      font-size: $font-size-lg;
      font-style: italic;
      letter-spacing: 0.1em;
      color: $color-bg-3;
    }

    p {
      margin-bottom: 0;  // Bootstrap reset
    }
  }

  &--header {
    #{$root}__hr {
      // Reduce &__text padding-top
      @include media-breakpoint-up($bp-content-width) {
        padding-top: spacing-y($section-py-lg, $ratio: 0.15);
      }

      padding-top: spacing-y($section-py, $ratio: 0.5);
    }

    #{$root}__text {
      // Reduce &__text padding-top
      @include media-breakpoint-up($bp-content-width) {
        padding-top: spacing-y($section-py-lg, $ratio: 0.15, $reduce-by: $hrule-text-height);
      }

      padding-top: spacing-y($section-py, $ratio: 0.5, $reduce-by: $hrule-text-height);
      font-weight: $font-weight-bold;
    }
  }
}
