
/* Links */

.external-link {
  text-transform: uppercase;
  font-family: Raleway, $font-family-sans-serif;
  color: $color-hl-dark;
}

.external-link--footer {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: $font-size-sm;
}
