
html, body {
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }

  width: 100%;
  height: 100%;
  min-width: 320px;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $font-weight-base;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
