
html {
  @include media-breakpoint-up($bp-content-font) {
    font-size: 18px;
  }

  font-size: 16px;
  line-height: $line-height-base;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  // Bootstrap variables aren't available for the following:
  letter-spacing: $headings-letter-spacing;
  color: $headings-color;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
