//
// The following override and/or supplement variables defined by Bootstrap.
// See bootstrap/scss/_variables.scss.
//

// Extend Bootstrap's size options
$sizes: (
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
);

// Extend Bootstrap's breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1366px
);

// Device widths

$phone-widths: 320 360 375 412 480;
$tablet-widths: 768 1024;
$desktop-widths: 1366 1440 1920;
$device-widths: join($phone-widths, join($tablet-widths, $desktop-widths));

// Sizes

$title-width: 75%;
$content-width: 65%;

$navbar-width: $title-width;
$navbar-padding-x: 2rem;
$navbar-padding-y: 1rem;

$navbar-brand-width: 213px;

$nav-link-padding-y: 1rem;

$content-width: $content-width;

// Padding and margins

$section-py: 8rem;
$section-py-lg: 14rem;
$section-px: 1.5rem;
$section-px-lg: 3rem;

$content-px: 2rem;
$content-px-md: 4rem;

// Font families

// Note: This is duplicated from Bootstrap because Bootstrap
//       isn't loaded prior to loading the current partial
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-logo: BourtonHandLineBold;
$font-family-title: Lato, $font-family-sans-serif;
$font-family-base: Lato, $font-family-sans-serif;

// Font weights

$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-weight-title: $font-weight-bold;
$font-weight-base: $font-weight-regular;

// Font sizes (requires rems)

$font-size-xs: .875rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 2rem;
$font-size-base: $font-size-sm;
$line-height-base: 1.4;

// Z Index

$zindex-hero-image: 0;
$zindex-hero-overlay: 10;
$zindex-hero-title: 20;


