//
// The following override and/or supplement variables defined by Bootstrap.
// See bootstrap/scss/_variables.scss.
//

// Extend Bootstrap's size options
$sizes: (
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
);

// Device widths

$phone-widths: 320 360 375 412 480;
$tablet-widths: 768 1024;
$desktop-widths: 1366 1440 1920;
$device-widths: join($phone-widths, join($tablet-widths, $desktop-widths));

// Padding and margins

$section-py: 3rem;
$section-py-lg: 10rem;
$section-px: 1.5rem;
$section-px-lg: 3rem;

// Font families

// Note: This is duplicated from Bootstrap because Bootstrap
//       isn't loaded prior to loading the current partial
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-logo: BourtonHandLineBold;
$font-family-title: Lato, $font-family-sans-serif;
$font-family-base: Lato, $font-family-sans-serif;

// Font weights

$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-weight-title: $font-weight-bold;
$font-weight-base: $font-weight-regular;

// Font sizes

$font-size-base: 1rem; // Requires rems
$line-height-base: 1.4;

// Z Index

$zindex-hero-image: 0;
$zindex-hero-overlay: 10;
$zindex-hero-title: 20;


