//
// The following override and/or supplement variables defined by Bootstrap.
// See bootstrap/scss/_variables.scss.
//

// Extend Bootstrap's size options
$sizes: (
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
);

// Breakpoints
//
// Extensions and references for affecting responsive behavior globally.

// Extend Bootstrap's breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$bp-homepage-hero: md;
$bp-subpage-hero: lg;

$bp-navbar-expand: md;
$bp-navbar-width: xl;

$bp-content-width: md;
$bp-content-font: md;
$bp-content-row: lg;

$bp-hires: xl;

// Type
//
// Font families, weights, sizes, and line heights.

// Note: This is duplicated from Bootstrap because Bootstrap
//       isn't loaded prior to loading the current partial
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-logo: BourtonHandLineBold;
$font-family-title: Lato, $font-family-sans-serif;
$font-family-base: Lato, $font-family-sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-title: $font-weight-regular;
$font-weight-base: $font-weight-light;

$line-height-base: 1.4;
$line-height-lg: 1.6;  // $line-height-base;  // Override for consistency
$line-height-sm: $line-height-base;  // Override for consistency

$font-size-xs: .875rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.2rem;
$font-size-base: $font-size-sm;

// Delegate heading sizes to classes
$h1-font-size: 1rem;
$h2-font-size: 1rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$headings-margin-bottom: 0;
$headings-font-weight: inherit;

$lead-font-size: $font-size-md;
$lead-font-weight: $font-weight-base;

$btn-font-weight: $font-weight-base;

// Height and width
//
// Dimensions for almost everything.

$phone-widths: 320 360 375 412 480;
$tablet-widths: 768 1024;
$desktop-widths: 1366 1440 1920;
$device-widths: join($phone-widths, join($tablet-widths, $desktop-widths));

$title-width: 75%;
$content-width: 65%;

$navbar-width: $title-width;

$navbar-brand-height: 48px;
$navbar-brand-width: 213px;

// Bounds for fluid type
$fluid-min-x: 25em;  // Usually 400px
$fluid-max-x: 100em;  // Usually 1600px

$profile-width: 240px;
$profile-max-cols: 4;  // Divisible into 12
$profile-col-size: 12 / $profile-max-cols;

$grid-gutter-width: 50px;
$grid-max-width: ($profile-width + $grid-gutter-width) * $profile-max-cols - $grid-gutter-width;

// Padding and margins
//
// Spacing for almost everything.

$navbar-padding-y: 1rem;
$navbar-padding-x: 2rem;

$navbar-brand-padding-y: 0;

$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 1.5rem;

// Compute the nav-link padding-y so the nav-link will have the same height as navbar-brand
$nav-link-height: ($font-size-xs * $line-height-base) * 16 / 1rem;  // Strip unit
$nav-link-padding-y: ($navbar-brand-height - $nav-link-height) / 2;
$nav-link-padding-x: 2.5rem;

$section-py-sm: 8rem;
$section-py-lg: 14rem;
$section-px-sm: 1.5rem;
$section-px-lg: 3rem;

$content-px: 4rem;

$hrule-py: 14rem;
$hrule-px: 2rem;

// Borders
//
// Overrides for border behavior.

$enable-rounded: false;

// Z Index
//
// Layering for each element.

$zindex-hero-image: 0;
$zindex-hero-overlay: 10;
$zindex-hero-title: 20;
$zindex-navbar: 30;
$zindex-navbar-brand: 35;


