{% load static %}
{% load wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.search_description }}">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
    <link rel="stylesheet" href="{% static 'bundles/main.css' %}"/>
    {% block extra_css %}{% endblock %}
</head>
<body>

{% wagtailuserbar %}

{% block content %}{% endblock %}

<script src="{% static 'bundles/vendor.bundle.js' %}"></script>
<script src="{% static 'bundles/main.bundle.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>