
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load static %}
{% load scpc %}

{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.search_description }}">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
    {% render_bundle 'main' 'css' %}

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Raleway:300,400,700" rel="stylesheet">

    {% if env == 'production' and not request.is_preview %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());
      gtag('config', '{{ ga_tracking_id }}');
    </script>
    {% endif %}
</head>
<body>

{% wagtailuserbar %}

<nav class="navbar navbar-expand-md navbar-light" id="nav">
    <a class="navbar-brand" href="{% slugurl 'home' %}">
        {% include 'scpc/includes/brand.html' %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-collapse" class="collapse navbar-collapse">
        {% nav_items current_page=page %}
    </div>
</nav>

{% block content %}{% endblock %}

{% footer %}

{% render_bundle 'runtime' 'js' %}
{% render_bundle 'vendor' 'js' %}
{% render_bundle 'main' 'js' %}

{% block extra_js %}{% endblock %}

</body>
</html>
