{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <header class="about-us-header">
        <div class="hero hero--subpage{% if page.hero_align != 'middle' %} hero--{{ page.hero_align }}{% endif %}">
            <div class="hero__overlay"></div>
            <h1 class="hero__title">{{ page.title }}</h1>
            {% image page.hero_image min-1900x768 as hero_image %}
            <img src="{{ hero_image.url }}" width="{{ hero_image.width }}"
                 height="{{ hero_image.height }}" alt="{{ hero_image.alt }}"
                 {% if page.hero_align == 'middle' %}style="transform: translateX(-50%) translateY(-{{ page.hero_y }}%);"{% endif %}/>
        </div>
    </header>

{% for block in page.content %}
    {% include_block block with type='about' hrule=True %}
{% endfor %}

<section class="section section--divider">
    <div class="section__body">
        <div class="section__content">
            <div class="section__subcontent">
                <div class="hrule hrule--text">
                    <div class="hrule__hr">
                        <hr>
                    </div>
                    <h2 class="hrule__text">Who We Are</h2>
                    <div class="hrule__hr">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% for profile in page.leadership.all %}
    {% include 'scpc/includes/leadership.html' with profile=profile only %}
{% endfor %}

<section class="section section--staff section--stacked">
    <div class="section__body">
        <h3 class="section__subheader">Our Staff</h3>
        <div class="section__row">
        {% for profile in page.staff.all %}
            {% include 'scpc/includes/staff.html' with profile=profile only %}
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
