{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <header class="about-us-header">
        <div class="about-us-hero">
            <div class="about-us-hero__overlay"></div>
            <h1 class="about-us-hero__title">{{ page.title }}</h1>
            {% image page.hero_image min-1900x768 %}
        </div>
    </header>

{% for block in page.sections %}
    {% cycle 'left' 'right' as align silent %}
    {% include_block block %}
{% endfor %}

{% endblock %}