{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <header class="subpage-header">
        <div class="hero hero--subpage{% if page.hero_align != 'middle' %} hero--{{ page.hero_align }}{% endif %}">
            <div class="hero__overlay"></div>
            <h1 class="hero__title">{{ page.title }}</h1>
            {% image page.hero_image min-1900x768 as hero_image %}
            <img src="{{ hero_image.url }}" width="{{ hero_image.width }}"
                 height="{{ hero_image.height }}" alt="{{ hero_image.alt }}"
                 {% if page.hero_align == 'middle' %}style="transform: translateX(-50%) translateY(-{{ page.hero_y }}%);"{% endif %}/>
        </div>
        <div class="header__container">
            {# Force center text alignment due to that this page only contains one section #}
            <div class="header__body text-center">
                <div class="header__intro">
                    {{ page.introduction|richtext }}
                </div>
            </div>
        </div>
    </header>

    <section class="section section--giving">
        <div class="section__body">
            <div class="section__content">
                <div class="giving">
                    <div class="giving__subcontent">
                        {{ page.giving_content|richtext }}
                    </div>
                    <div class="giving__links">
                        <a class="btn btn-scpc-primary" href="{{ page.online_link_url }}" role="button">
                            {{ page.online_link_name }}
                        </a>
                    </div>
                </div>
                <div class="hrule hrule--text">
                    <div class="hrule__hr">
                        <hr>
                    </div>
                    <p class="hrule__text">{{ page.mail_header }}</p>
                    <div class="hrule__hr">
                        <hr>
                    </div>
                </div>
                <div class="address address--sm">
                    {% with contact_info=page.contact_info %}
                    <span class="address__name">{{ contact_info.mailing_name }}</span><br/>
                    <span class="address__street">{{ contact_info.mailing_street }}</span><br/>
                    <span class="address__city">{{ contact_info.mailing_city }}</span><br/>
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
