{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <header class="header header--subpage">
        <div class="hero hero--subpage{% if page.hero_align != 'middle' %} hero--{{ page.hero_align }}{% endif %}">
            <div class="hero__overlay"></div>
            <h1 class="hero__title">{{ page.title }}</h1>
            {% image page.hero_image min-1900x768 as hero_image %}
            <img src="{{ hero_image.url }}" width="{{ hero_image.width }}"
                 height="{{ hero_image.height }}" alt="{{ hero_image.alt }}"
                 {% if page.hero_align == 'middle' %}style="transform: translateX(-50%) translateY(-{{ page.hero_y }}%);"{% endif %}/>
        </div>
        <div class="header__container">
            <div class="header__body">
                <div class="header__intro">
                    {{ page.introduction|richtext }}
                </div>
            </div>
        </div>
    </header>

    {% include 'scpc/blocks/giving.html' with value=page animation='fade' %}

{% endblock %}
