{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <header class="gospel-header">
        <div class="hero hero--subpage{% if page.hero_align != 'middle' %} hero--{{ page.hero_align }}{% endif %}">
            <div class="hero__overlay"></div>
            <h1 class="hero__title">{{ page.title }}</h1>
            {% image page.hero_image min-1900x768 as hero_image %}
            <img src="{{ hero_image.url }}" width="{{ hero_image.width }}"
                 height="{{ hero_image.height }}" alt="{{ hero_image.alt }}"
                 {% if page.hero_align == 'middle' %}style="transform: translateY(-{{ page.hero_y }}%);"{% endif %}/>
        </div>
    </header>

{% for block in page.sections %}
    {% cycle 'left' 'right' as align silent %}
    {% include_block block %}
{% endfor %}

{% endblock %}
