{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    <header class="home-header">
        <div class="home-hero" id="hero" data-focus-x="59" data-focus-y="50">
            <div class="home-hero__overlay"></div>
        </div>
        <div class="home-header__body">
            <div class="home-header__content">
                <div class="pb-3">
                    <h1 class="home-header__title">
                        South Charlotte Presbyterian Church
                    </h1>
                </div>
                <div class="pb-3">
                    <h2 class="home-header__subtitle">
                        A new congregation of the PCA
                    </h2>
                </div>
            </div>
        </div>
    </header>

{% for block in page.sections %}
    {% cycle 'left' 'right' as align silent %}
    {% include_block block %}
{% endfor %}

{% endblock %}

{#{% block extra_js %}#}
{#    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"#}
{#            async defer></script>#}
{#{% endblock %}#}