
.doctrine {
  @include media-breakpoint-up($bp-content-width) {
    text-align: left;
  }

  padding-bottom: 2rem;

  &__header {
    margin-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    letter-spacing: $letter-spacing-lg;
    text-transform: uppercase;
  }

  &__content {

  }
}
