
.footer {

  width: 100%;
  padding: 3rem 2rem;
  background-color: $color-bg-3;
  color: $white;
  font-weight: $font-weight-light;
  text-align: center;

  &__social-icons {
    margin: 0 0 $content-spacer-md;
  }

  &__contact-info {
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;  // Override Bootstrap
  }

  &__contact-address, &__contact-email, &__contact-phone {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    margin-bottom: $content-shim;
    white-space: nowrap;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
