
.footer {

  &#{&} {
    width: 100%;
    padding: 1rem 1rem 0.75rem 1rem;
    text-align: center;
    background-color: $color-bg-med;
    color: $white;
    font-weight: 200;
  }

  p {
    margin: 0 0 0.25rem;
  }
}
