

$homepage-hero-sizes: (xs: 400px, md: 768px);
$subpage-hero-sizes: (xs: 400px, lg: 600px);


@mixin header() {
  font-size: 1rem; // set font size for child em units
}


// Hero Images


.hero {

  position: relative;
  overflow: hidden;
  width: 100%;
  color: $white;

  img {
    // Note: The transform property is set in-line
    position: absolute;
    z-index: $zindex-hero-image;

    @include media-breakpoint-up(lg) {
      width: 100%;
      height: auto;
      min-height: map-get($subpage-hero-sizes, lg);
    }

    width: auto;
    min-width: 100%;
    height: 100%;
    min-height: map-get($subpage-hero-sizes, xs) * 1.25;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--home {
    @include media-breakpoint-up(md) {
      @include focus-background-y(50, 1900, 768);

      height: map-get($homepage-hero-sizes, md);
    }

    height: map-get($homepage-hero-sizes, xs);
    background: url("../images/heros/home.jpg") no-repeat;
    background-size: cover;

    @include focus-background-x(59, 1900, $device-widths);
    @include focus-background-y(60, 911, 400);

    img {
      transform: translateY(-60%);
    }
  }

  &--subpage {
    @include media-breakpoint-up(lg) {
      height: map-get($subpage-hero-sizes, lg);
    }

    //height: auto;
    //max-height: map-get($subpage-hero-sizes, xs);
    height: map-get($subpage-hero-sizes, xs);
  }

  &--top {
    img {
      top: 0;
      bottom: auto;
      transform: translateX(-50%);
    }
  }

  &--bottom {
    img {
      top: auto;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  &__overlay {
    position: absolute;
    z-index: $zindex-hero-overlay;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.4;
  }

  &__title {
    @include align-vertically();

    position: absolute;
    z-index: $zindex-hero-title;
    width: 100%;
    font-family: $font-family-title;
    font-weight: $font-weight-title;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    color: white;

    @include fluid-type($fluid-min-x, $fluid-max-x, 1.5em, 3em, $units: vmin);
  }
}


// Headers


.home-header {

  @mixin title() {
    display: inline;
    box-decoration-break: clone;
    padding: 0.075em .75em 0.2em;  // logo font needs more bottom padding
    line-height: 1.8;
    font-family: $font-family-logo;
  }

  @include header();

  &__body {
    @include media-breakpoint-up(md) {
      padding: ($section-py-lg / 2) $section-px-lg;
    }

    padding: ($section-py / 2) $section-px;
  }

  &__content {
    @include media-breakpoint-up(md) {
      width: $title-width;
    }
    @include media-breakpoint-up(xl) {
      text-align: left;
    }

    width: auto;
    margin: auto;
    text-align: center;
  }

  &__title {

    h1 {
      @include title();
      @include fluid-type($fluid-min-x, $fluid-max-x, 1.25em, 3.5em);

      background-color: $color-hl-3;
      color: white;
    }

    &--wide {
      @include media-breakpoint-up(xl) {
        display: block;
      }

      display: none;
    }

    &--narrow {
      @include media-breakpoint-up(xl) {
        display: none;
      }

      display: block;
    }
  }

  &__subtitle {

    span {
      @include title();
      @include fluid-type($fluid-min-x, $fluid-max-x, 1em, 3em);

      background-color: $color-bg-3;
      color: white;
    }
  }

  &__intro {
    @include media-breakpoint-up(md) {
      margin: 0;
      font-size: $font-size-md;
    }

    margin: 0 auto;
    padding-top: 3rem;
    font-size: $font-size-base;

    p {
      margin-bottom: 0;
    }
  }
}

.ministries-header {

  @include header();
}


.about-us-header {

  @include header();
}


.gospel-header {

  @include header();
}


.giving-header {

  @include header();
}
