

$homepage-hero-sizes: (xs: 400px, md: 768px);
$subpage-hero-sizes: (xs: 400px, md: 600px);


@mixin header() {
  font-size: 1rem; // set font size for child em units
}


@mixin overlay() {
  position: absolute;
  z-index: $zindex-hero-overlay;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.2;
}


@mixin hero($selector, $heights, $overlay: true) {

  @at-root #{$selector}#{$selector} {
    @include section();

    @include media-breakpoint-up(md) {
      height: map-get($heights, md);
    }

    position: relative;
    overflow: hidden;
    height: map-get($heights, xs);
    color: $white;
  }

  img {
    position: absolute;
    z-index: $zindex-hero-image;
    max-width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-60%);
  }

  @if $overlay {
    #{$selector}__overlay {
      @include overlay();
    }
  }
}


@mixin title() {
    position: absolute;
    z-index: $zindex-hero-title;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-family: $font-family-title;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @include fluid-type(20em, 100em, 1.5em, 4em, $units: vmin);
}


// Homepage


.home-header {

  @mixin title() {
    // Note: We don't use ems here because it would be based
    //       on a fluid font size.

    @include media-breakpoint-up(md) {
      padding-top: 0.3rem;
      padding-bottom: 0.5rem;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0.15rem;
      padding-bottom: 0.6rem;
    }

    display: inline;
    box-decoration-break: clone;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;  // Bootstrap override
    font-family: $font-family-logo;
  }

  &#{&} {
    @include header();
  }

  &__body {
    @include media-breakpoint-up(lg) {
      padding: $section-py-lg $section-px-lg ($section-py-lg / 2);
    }

    padding: $section-py $section-px ($section-py / 2);
  }

  &__content {
    @include media-breakpoint-up(md) {
      width: 75%;
    }

    margin: auto;
    text-align: left;
  }

  &__title {
    @include title();
    @include fluid-type(20em, 100em, 1.5em, 4em, $units: vmin);

    background-color: $color-hl-2;
    color: white;
  }

  &__subtitle {
    @include title();
    @include fluid-type(20em, 100em, 1em, 3.5em, $units: vmin);

    background-color: $color-bg-4;
    color: white;
  }

  &__intro {
    width: 66%;
    margin-top: 3rem;
    font-size: $font-size-base;
    //font-weight: $font-weight-bold;
  }
}


.home-hero {
  @include hero(&, $homepage-hero-sizes, $overlay: false);

  &#{&} {
    @include media-breakpoint-up(md) {
      @include focus-background-y(50, 1900, 768);
    }

    background: url("../images/heros/home.jpg") no-repeat;
    background-size: cover;

    @include focus-background-x(59, 1900, $device-widths);
    @include focus-background-y(60, 911, 400);
  }
}


// Ministries


.ministries-header {

  &#{&} {
    @include header();
  }
}


.ministries-hero {
  @include hero(&, $subpage-hero-sizes);

  &__title {
    @include title();
  }
}


// About us


.about-us-header {

  &#{&} {
    @include header();
  }
}


.about-us-hero {
  @include hero(&, $subpage-hero-sizes);

  &__title {
    @include title();
  }
}


// Gospel


.gospel-header {

  &#{&} {
    @include header();
  }
}


.gospel-hero {
  @include hero(&, $subpage-hero-sizes);

  &__title {
    @include title();
  }
}


// Giving


.giving-header {

  &#{&} {
    @include header();
  }
}


.giving-hero {
  @include hero(&, $subpage-hero-sizes);

  &__title {
    @include title();
  }
}


// Landing


.landing-header {

  @mixin title() {
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.5rem;
    }

    padding: 0.185em 1em 0.325em 1em;
    margin-bottom: 0.75rem;
    font-family: $font-family-logo;
  }

  &#{&} {
    @include cover($vmax: true);
    @include section();

    min-height: 360px;
    font-size: 1rem; // set font size for child em units
    color: $white;
  }

  &__overlay {
    @include cover($vmax: true);
    @include section();

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    background: url("../images/heros/landing.jpg") no-repeat right;
    background-size: cover;
  }

  &__body {
    @include media-breakpoint-up(xl) {
      height: calc(100% - 4em - 0.5rem); // see landing-header__base
    }

    height: calc(100vmax - 4em - 0.5rem); // see landing-header__base
    z-index: 10;
  }

  &__logo {
    @include align-vertically(95%, $y: -100%);

    @include media-breakpoint-up(xl) {
      @include align-vertically(50%);
      height: 20rem;
    }

    height: 75%;
    opacity: 0.5;
  }

  &__title {
    @include title();
    @include fluid-type(20em, 75em, 1.5em, 3em, $units: vmin);

    line-height: 1.3;
    text-align: right;
    background-color: rgba($color-hl-3, 0.75);
  }

  &__subtitle {
    @include title();
    @include fluid-type(20em, 75em, 1em, 2em, $units: vmin);

    text-align: right;
    background-color: rgba($color-bg-4, 0.75);
  }

  &__subtitle--inverse {
    font-weight: $font-weight-bold;
    background-color: rgba($color-bg-3, 0.75);
    color: $color-bg-4;
  }

  &__base {
    z-index: 5;
    height: calc(4em + 0.5rem); // use ems to match Font Awesome's units
    background-color: rgba($color-hl-1, 0.15);
  }
}
