
.location {

  &#{&} {
    @include section();
    @include cover();

    min-height: 678px;
  }

  &__header {
    @include media-breakpoint-up(xl) {
      display: block;
    }

    display: none;
    height: calc(6em + 0.5rem); // Based off of landing-header__base
    background-color: $color-hl-light;
  }

  &__map {
    @include media-breakpoint-up(xl) {
      height: calc((100% - 6em - 0.5rem) / 2); // Based off of &__header
    }

    height: 50vmax;
    min-height: 300px;
    background-color: $color-hl-light;
  }

  &__body {
    @include media-breakpoint-up(md) {
      height: 50vmax;
    }
    @include media-breakpoint-up(xl) {
      height: calc((100% - 6em - 0.5rem) / 2); // Based off of &__header
    }

    padding: 3rem;
  }

  &__content {
    @include media-breakpoint-up(md) {
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      width: 90%;
    }

    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-family: $font-family-title;
  }

  &__address {
    @extend .address;
    @include align-vertically(50%);
  }
}

.address {

  &#{&} {
    @include media-breakpoint-up(md) {
      text-align: left;
    }

    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    font-size: $font-size-lg;
  }

  &__name, &__street, &__city {
    font-family: $font-family-title;
  }

  &__name {
    font-weight: $font-weight-bold;
  }
}
