
.navbar {
  @include media-breakpoint-up(xl) {
    width: $navbar-width;
  }

  margin: 0 auto;

  &-brand {
    line-height: 0;
  }
  
  &-collapse {
    @include media-breakpoint-up(md) {
      padding: 0;
    }

    padding: 2rem 0;
  }

  &-nav, .nav {

    @include media-breakpoint-up(lg) {
      transform: translateX(-$navbar-brand-width / 2);
    }

    height: 100%;
    margin: 0 auto;

    .nav-link {
      @include media-breakpoint-up(md) {
        // Bootstrap nav-links don't always acknowledge $nav-link-padding-x
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        font-size: $font-size-base;
      }

      font-family: $font-family-title;
      font-size: $font-size-xl;
      color: $color-bg-3;
      white-space: nowrap;

      &:hover, &:focus {
        color: $color-hl-3 !important;
      }
    }

    text-transform: uppercase;
  }
}


.brand {
  @include media-breakpoint-up(lg) {
    height: 48px;
  }

  height: 36px;

  &__text {
    @include media-breakpoint-between(md, lg) {
      display: none;
    }
  }
}
