
// Sizes
$nav-width: 75%;
$nav-height: 6rem;

.masthead {

  position: relative;
  height: $nav-height;
  color: $color-bg-4;

  &__brand{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    z-index: 10;
  }
}

.nav {

  &#{&} {
    position: relative;
    width: $nav-width;
    height: 100%;
    margin: auto;
    line-height: $nav-height - $nav-link-padding-y * 2;
    font-family: $font-family-title;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  .nav-link {
    // Override Bootstrap's $nav-link-padding-y
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &:hover {
      color: $color-hl-2;
    }
  }
}