
.profile {
  @include make-col-ready();

  @include media-breakpoint-up($bp-content-width) {
    $spacing-y: spacing-y($section-py-lg, $ratio: $profile-py-ratio);

    margin-top: $spacing-y;
    margin-bottom: $spacing-y;
  }

  $root: &;
  $spacing-y: spacing-y($section-py-sm, $ratio: $profile-py-ratio);

  width: $profile-max-width;
  min-width: $profile-min-width;
  margin-top: $spacing-y;
  margin-bottom: $spacing-y;
  text-align: left;

  &__image {

    margin-bottom: .75rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__placeholder {

    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: .75rem;
    padding-bottom: 125%;  // Derives from profile width to create a 5:4 aspect ratio

    &-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      margin-bottom: 0;  // Reset default paragraph margin
      text-align: center;
      text-transform: lowercase;
    }
  }

  &__header {
    // Extensible by modifier classes
  }

  &__name, &__title, &__email, &__social-icons {
    margin-bottom: 0;  // Reset default paragraph margin
  }

  &__title {
    @include media-breakpoint-up($bp-content-row) {
      margin-right: .5em;  // Add spacing before social icons
    }

    font-size: $font-size-xs;
    font-style: italic;
    text-transform: lowercase;
    color: $color-bg-2;
  }

  &__email {
    // Potentially adding this later
  }

  &__social-icons {
    margin-top: .25rem;
    font-size: $font-size-xs;
    vertical-align: bottom;
    color: $color-hl-3;
  }

  &--bio {
    @include media-breakpoint-up($bp-content-row) {
      text-align: inherit;
    }

    text-align: center;

    // Reset column behavior
    flex: initial;
    width: auto;
    max-width: none;
    padding: 0;
    min-height: 0;

    // Reset profile behavior
    min-width: 0;
    margin-bottom: 0;

    #{$root}__header {
      margin-bottom: 1.1rem;
    }

    #{$root}__name, #{$root}__title, #{$root}__social-icons  {
      @include media-breakpoint-up($bp-content-row) {
        display: inline-block;
      }

      display: block;
      font-size: $font-size-md;  // Reset profile behavior
      line-height: $line-height-base;  // Reset headings line-height
    }

    #{$root}__name {
      @include media-breakpoint-up($bp-content-row) {
        &:after {
          content: '|';
          margin: 0 .75rem;
          font-size: inherit;
        }
      }

      color: $color-bg-3;  // Reset headings color
    }

    #{$root}__social-icons {
      // Use an upper bound so we don't need to reset for larger screens
      @include media-breakpoint-down($bp-content-row) {
        margin-top: .5rem;
      }

      font-size: $font-size-xs;
    }
  }
}
