
.section {

  $root: &;
  
  // Spacing
  $content-px: 2rem;
  $content-px-lg: 4rem;
  $content-px-default: $grid-gutter-width / 2; // Bootstrap default

  &#{&} {
    @include media-breakpoint-up(lg) {
      padding: ($section-py-lg / 2) $section-px-lg;
    }

    padding: ($section-py / 2) $section-px;
  }

  &__content {
    flex-direction: column;
    width: 75%;
    margin: auto;
    font-size: $font-size-base;
  }

  &__name {
    margin-bottom: 2rem;

    font-family: $font-family-title;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-hl-2;
    //text-transform: uppercase;
  }

  &__subcontent {

  }

  &--left, &--right {

    #{$root}__content {
      flex-direction: row;
    }

    #{$root}__name {
      width: 315px;
      margin-bottom: 0;
    }
  }

  &--left {

    #{$root}__name {
      @include media-breakpoint-up(lg) {
        padding-right: $content-px-lg;
      }

      padding-right: $content-px;
      text-align: right;
    }

    #{$root}__subcontent {
      @include media-breakpoint-up(lg) {
        padding-left: $content-px-lg;
      }

      padding-left: $content-px;
      border-left: 1px solid $color-border;
      text-align: left;
    }
  }

  &--right {
    .media {
      flex-direction: row-reverse;
    }

    #{$root}__name {
      @include media-breakpoint-up(lg) {
        padding-left: $content-px-lg;
      }

      padding-left: $content-px;
      text-align: left;
    }

    #{$root}__subcontent {
      @include media-breakpoint-up(lg) {
        padding-right: $content-px-lg;
      }

      padding-right: $content-px;
      border-right: 1px solid $color-border;
      text-align: right;
    }
  }
}
