

@mixin section-spacing($ratio: 1, $distribute-space: true) {
  $multiplier: if($distribute-space, 2, 1);  // For leading/trailing space

  @include media-breakpoint-up($bp-content-width) {
    padding: spacing-y($section-py-lg, $ratio) $section-px-lg;
  }

  padding: spacing-y($section-py, $ratio) $section-px;

  &:first-of-type {
    @include media-breakpoint-up($bp-content-width) {
      padding-top: spacing-y($section-py-lg, $ratio) * $multiplier;
    }

    padding-top: spacing-y($section-py, $ratio) * $multiplier;
  }

  &:last-of-type {
    @include media-breakpoint-up($bp-content-width) {
      padding-bottom: spacing-y($section-py-lg, $ratio) * $multiplier;
    }

    padding-bottom: spacing-y($section-py, $ratio) * $multiplier;
  }
}


@mixin inverse-section-spacing($ratio: 1) {
  @include media-breakpoint-up($bp-content-width) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py, $ratio) 0;

  &:first-of-type {
    @include media-breakpoint-up($bp-content-width) {
      padding-top: spacing-y($section-py-lg, $ratio);
    }

    margin-top: 0;
    padding-top: spacing-y($section-py, $ratio);
  }

  &:last-of-type {
    @include media-breakpoint-up($bp-content-width) {
      padding-bottom: spacing-y($section-py-lg, $ratio);
    }

    margin-bottom: 0;
    padding-bottom: spacing-y($section-py, $ratio);
  }
}


@mixin flush-section-spacing($ratio: 1) {
  @include media-breakpoint-up($bp-content-width) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py, $ratio) 0;
  padding: 0;

  &:first-of-type {
    margin-top: 0;
    padding-top: 0;  // Reset
  }

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;  // Reset
  }
}


@mixin no-section-spacing() {
  @include media-breakpoint-up($bp-content-width) {
    padding: 0;  // Reset
  }

  padding: 0;  // Reset

  &:first-of-type {
    padding-top: 0;  // Reset
  }

  &:last-of-type {
    padding-bottom: 0;  // Reset
  }
}


.section {
  @include section-spacing();

  $root: &;

  font-size: 1rem;  // Set font size for child em units

  &__container {
    // Extensible by modifier classes
  }

  &__body {
    @include media-breakpoint-up($bp-content-width) {
      width: $content-width;
    }

    display: flex;
    flex-direction: column;
    align-items: center;  // Aligns on horizontal-axis
    margin: auto;
    text-align: center;
  }

  &__image {
    flex: 0 5 auto;
    width: 100%;  // Influences flex-shrink
    margin-right: 0;
    margin-bottom: $content-px-md / 2;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex: 1 3 auto;
    flex-direction: column;
    width: 100%;  // Influences flex-shrink

    p:last-child {
      margin-bottom: 0;  // Override Bootstrap
    }
  }

  &__header {
    @include media-breakpoint-up($bp-content-font) {
      font-size: $font-size-xxl;
    }

    margin-bottom: 2rem;
    font-family: $font-family-title;
    font-size: $font-size-lg;
    color: $color-hl-3;
  }

  &__subheader {
    margin-bottom: 4rem;
    font-size: $font-size-lg;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  &__subcontent {
    // Extensible by modifier classes
  }

  &__row {
    @include make-row();

    justify-content: center;
  }


  // Spacing


  &--compact {
    @include section-spacing($ratio: 0.5);
  }


  // Alignment


  &--left, &--right {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        align-items: start; // Aligns on vertical axis
      }
      @include media-breakpoint-up(xl) {
        align-items: center; // Aligns on vertical axis
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-bottom: 0;
      }
    }

    &#{$root}--floating {

      #{$root}__content {
        @include media-breakpoint-up($bp-content-row) {
          flex-direction: row;
        }
      }

      #{$root}__header {
        @include media-breakpoint-up($bp-content-row) {
          font-size: $font-size-lg;
          margin-bottom: 0;
        }
        @include media-breakpoint-up($bp-hires) {
          font-size: $font-size-xl;
        }
      }

      #{$root}__subcontent {
        @include media-breakpoint-up($bp-content-row) {
          flex: 1;
        }
      }

    }
  }

  &--left {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        flex-direction: row;

        // Only align on larger screens. When sections contain an image on smaller
        // screens the image is centered and the text should be centered beneath it.
        text-align: left;
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-right: $content-px-md / 2;
      }
    }

    &#{$root}--floating {

      #{$root}__body {
        // Floating sections don't contain images so we can align on small screens.
        text-align: left;
      }

      @include media-breakpoint-up($bp-content-row) {

        #{$root}__header {
          padding-right: $content-px-md / 2;
          text-align: right;
        }

        #{$root}__subcontent {
          padding-left: $content-px-md / 2;
          border-left: 1px solid $color-border;
        }

      }
    }
  }

  &--right {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        flex-direction: row-reverse;

        // Only align on larger screens. When sections contain an image on smaller
        // screens the image is centered and the text should be centered beneath it.
        text-align: right;
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-left: $content-px-md / 2;
      }
    }

    &#{$root}--floating {

      #{$root}__body {
        // Floating sections don't contain images so we can align on small screens.
        text-align: right;
      }

      @include media-breakpoint-up($bp-content-row) {

        #{$root}__content {
          flex-direction: row-reverse;
        }

        #{$root}__header {
          padding-left: $content-px-md / 2;
        }

        #{$root}__subcontent {
          padding-right: $content-px-md / 2;
          border-right: 1px solid $color-border;
          text-align: right;
        }

      }
    }
  }


  // Location Section


  &--location {
    @include flush-section-spacing();

    #{$root}__container {
      @include media-breakpoint-up($bp-content-width) {
        padding: ($section-py-lg / 2) $section-px-lg 0;
      }

      padding: ($section-py / 2) $section-px 0;
    }

    #{$root}__social-icons {
      margin-top: ($section-py / 2);
      color: $color-hl-3;
    }

    .map {
      @include media-breakpoint-up($bp-content-width) {
        height: 50vh;
      }

      height: 50vmax;
      min-height: 300px;
      background-color: $color-hl-2;
    }

    .address {
      margin: 0 auto;
      font-size: $font-size-lg;
      text-align: center;

      &__name {
        font-weight: $font-weight-regular;
      }
    }
  }


  // Verse Section


  &--verse {
    @include inverse-section-spacing();

    color: $color-hl-4;
    background-color: $color-hl-1;

    #{$root}__body {
      align-items: center;
    }

    #{$root}__content {
      font-style: italic;
      letter-spacing: 0.125em;
      text-align: center;
    }

    #{$root}__verse {
      margin-top: 1rem;
    }
  }


  // Profile Sections


  &--leadership {
    @include section-spacing($ratio: 0.5);

    #{$root}__body {
      max-width: $grid-max-width;
    }
  }


  &--staff {
    @include section-spacing($ratio: 0.5, $distribute-space: false);

    #{$root}__body {
      max-width: $grid-max-width;
    }
  }


  // Divider Section


  &--divider {
    @include flush-section-spacing($ratio: 0.25);

    .hrule__text {
      $hrule-text-height: $font-size-xxl * $headings-line-height - (1 / 16);  // Subtract hr border-top

      @include hrule-spacing($ratio: 0.5, $reduce-by: $hrule-text-height);

      font-size: $font-size-xxl;
      text-transform: lowercase;
      letter-spacing: 0.125em;
      color: $color-hl-3;
    }
  }
}
