

@mixin section-spacing($ratio: 1, $distribute-space: true) {
  $multiplier: if($distribute-space, 2, 1);  // For leading/trailing space
  
  @include media-breakpoint-up(md) {
    padding: spacing-y($section-py-lg, $ratio) $section-px-lg;
  }

  padding: spacing-y($section-py, $ratio) $section-px;

  &:first-of-type {
    @include media-breakpoint-up(md) {
      padding-top: spacing-y($section-py-lg, $ratio) * $multiplier;
    }

    padding-top: spacing-y($section-py, $ratio) * $multiplier;
  }

  &:last-of-type {
    @include media-breakpoint-up(md) {
      padding-bottom: spacing-y($section-py-lg, $ratio) * $multiplier;
    }

    padding-bottom: spacing-y($section-py, $ratio) * $multiplier;
  }
}


@mixin inverse-section-spacing($ratio: 1) {
  @include media-breakpoint-up(md) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py, $ratio) 0;

  &:first-of-type {
    @include media-breakpoint-up(md) {
      padding-top: spacing-y($section-py-lg, $ratio);
    }

    margin-top: 0;
    padding-top: spacing-y($section-py, $ratio);
  }

  &:last-of-type {
    @include media-breakpoint-up(md) {
      padding-bottom: spacing-y($section-py-lg, $ratio);
    }

    margin-bottom: 0;
    padding-bottom: spacing-y($section-py, $ratio);
  }
}


@mixin flush-section-spacing($ratio: 1) {
  @include media-breakpoint-up(md) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py, $ratio) 0;
  padding: 0;

  &:first-of-type {
    margin-top: 0;
    padding-top: 0;  // Reset
  }

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;  // Reset
  }
}


.section {
  @include section-spacing();

  $root: &;

  &__body {
    @include media-breakpoint-up(md) {
      width: $content-width;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: start;
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      align-items: center;
    }

    display: flex;
    flex-direction: column;
    align-items: center;  // aligns on cross-axis
    margin: auto;
    font-size: $font-size-base;
    text-align: center;
  }

  &__image {
    @include media-breakpoint-up(lg) {
      margin-right: $content-px-md / 2;
      margin-bottom: 0;
    }

    flex: 0 5 auto;
    width: 100%;
    margin-bottom: $content-px-md / 2;

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex: 1 4 auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  &__name {
    @include media-breakpoint-up(lg) {
      font-size: $font-size-xl;
    }

    margin-bottom: $content-px-md / 2;
    font-family: $font-family-title;
    font-size: $font-size-lg;
    font-weight: $font-weight-base;
    color: $color-hl-3;
  }

  &__subcontent {

    p:last-child {
      margin-bottom: 0;  // Bootstrap override
    }
  }

  // Alignment

  &--stacked {
    #{$root}__body {
      flex-direction: column;
      text-align: center;
    }

    #{$root}__image {
      margin-right: 0;
      margin-bottom: $content-px-md / 2;
    }
  }

  &--left, &--right {

    #{$root}__content--flatten {
      flex-direction: row;

      #{$root}__name {
        margin-bottom: 0;
      }

      #{$root}__subcontent {
        flex: 1;
      }
    }
  }

  &--left {

    #{$root}__content--flatten {

      #{$root}__name {
        @include media-breakpoint-up(md) {
          padding-right: $content-px-md;
        }

        padding-right: $content-px;
        text-align: right;
      }

      #{$root}__subcontent {
        @include media-breakpoint-up(md) {
          padding-left: $content-px-md;
        }

        padding-left: $content-px;
        border-left: 1px solid $color-border;
        text-align: left;
      }
    }
  }

  &--right {

    #{$root}__body {
      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
      }
    }

    #{$root}__image {
      @include media-breakpoint-up(lg) {
        margin-left: $content-px-md / 2;
      }

      margin-right: 0;
    }

    #{$root}__content {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }

    #{$root}__content--flatten {

      flex-direction: row-reverse;
      padding-right: 0;

      #{$root}__name {
        @include media-breakpoint-up(md) {
          padding-left: $content-px-md;
        }

        padding-left: $content-px;
        text-align: left;
      }

      #{$root}__subcontent {
        @include media-breakpoint-up(md) {
          padding-right: $content-px-md;
        }

        padding-right: $content-px;
        border-right: 1px solid $color-border;
        text-align: right;
      }
    }
  }

  // Location Section

  &--location {
    @include flush-section-spacing();

    #{$root}__body {
      @include media-breakpoint-up(md) {
        padding: ($section-py-lg / 2) $section-px-lg 0;
      }

      padding: ($section-py / 2) $section-px 0;

      // Resets
      display: block;
      width: 100%;
      margin: 0;
    }

    #{$root}__content {
      @include media-breakpoint-up(md) {
        width: $content-width;
      }

      margin: auto;

      // Resets
      display: block;
    }

    #{$root}__subcontent {
      font-size: $font-size-md;
      text-align: center;
    }

    #{$root}__social-icons {
      margin-top: ($section-py / 2);
      color: $color-hl-3;
    }

    .map {
      @include media-breakpoint-up(md) {
        height: 50vh;
      }

      height: 50vmax;
      min-height: 300px;
      background-color: $color-hl-2;
    }

    .address {
      margin: 0 auto;
      font-size: $font-size-lg;
      text-align: center;

      &__name {
        font-weight: $font-weight-regular;
      }
    }
  }

  // Verse Section

  &--verse {
    @include inverse-section-spacing();

    color: $color-hl-4;
    background-color: $color-hl-1;

    #{$root}__body {
      align-items: center;
    }

    #{$root}__subcontent {
      font-style: italic;
      letter-spacing: 0.125em;
      text-align: center;
    }

    #{$root}__verse {
      margin-top: 1rem;
    }
  }

  // Bio Section

  &--bio {


  }

  // Divider Section

  &--divider {
    @include flush-section-spacing($ratio: 0.5);

    .hrule__text {
      @include fluid-type(25em, 100em, 2em, 3em);

      text-transform: lowercase;
      letter-spacing: 0.125em;
      color: $color-hl-3;
    }
  }
}
