
// section-spacing
//
// Default spacing behavior for section classes. Padding is set via the $section-p*
// values and margin is avoided for the sake of simplicity. Spacing is increased
// at the breakpoint set by $bp-content-width. Spacing is also increased for the
// last section in a container.
//
//   $ratio: An optional multiplier by which the spacing will be decreased or increased

@mixin section-spacing($ratio: 1, $trailing-space: true) {
  @include media-breakpoint-up($bp-content-width) {
    padding: spacing-y($section-py-lg, $ratio) $section-px-lg;
  }

  padding: spacing-y($section-py-sm, $ratio) $section-px-sm;

  &:last-of-type {
    // Double 'trailing' padding if this is the last section
    // We always include this pseudo-class in case we're overriding.

    $trailing-multiplier: if($trailing-space, 2, 1);

    @include media-breakpoint-up($bp-content-width) {
      padding-bottom: spacing-y($section-py-lg, $ratio * $trailing-multiplier);
    }

    padding-bottom: spacing-y($section-py-sm, $ratio * $trailing-multiplier);
  }
}

// inverse-section-spacing
//
// For sections that use a background. In this case margin should be used to further
// distinguish the section and padding should never be doubled.
// Intended to be used by modifier classes.

@mixin inverse-section-spacing($ratio: 1) {
  @include media-breakpoint-up($bp-content-width) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py-sm, $ratio) 0;

  &:first-of-type {
    // Preserve top padding but remove margins
    @include media-breakpoint-up($bp-content-width) {
      padding-top: spacing-y($section-py-lg, $ratio);
    }

    margin-top: 0;
    padding-top: spacing-y($section-py-sm, $ratio);
  }

  &:last-of-type {
    // Preserve bottom padding but remove margins
    @include media-breakpoint-up($bp-content-width) {
      padding-bottom: spacing-y($section-py-lg, $ratio);
    }

    margin-bottom: 0;
    padding-bottom: spacing-y($section-py-sm, $ratio);
  }
}

// flush-section-spacing
//
// For sections that shouldn't be padded but should still have margin
// (e.g. container sections). Intended to be used by modifier classes.

@mixin flush-section-spacing($ratio: 1) {
  @include media-breakpoint-up($bp-content-width) {
    margin: spacing-y($section-py-lg, $ratio) 0;
  }

  margin: spacing-y($section-py-sm, $ratio) 0;
  padding: 0;  // Reset

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;  // Reset
  }
}

// no-section-spacing
//
// For sections that shouldn't have _any_ surrounding space.
// Intended to be used by modifier classes.

@mixin no-section-spacing() {
  @include media-breakpoint-up($bp-content-width) {
    padding: 0;  // Reset
  }

  padding: 0;  // Reset

  &:last-of-type {
    padding-bottom: 0;  // Reset
  }
}

// wide-section
//
// A section which should not be confined to $content-width at the breakpoint
// determined by $bp-content-width. Instead this section will be confined only
// by $content-max-width.

@mixin wide-section($max-width: $content-max-width, $root: &) {

    @at-root #{$root}__body {
      max-width: $max-width;
      width: auto;  // Override
    }
}

.section {
  @include section-spacing();

  $root: &;

  font-size: 1rem;  // Set font size for child em units

  &__container {
    // Extensible by modifier classes
  }

  &__body {
    @include media-breakpoint-up($bp-content-width) {
      width: $content-width;
    }

    display: flex;
    flex-direction: column;
    align-items: center;  // Aligns on horizontal-axis
    margin: auto;
    text-align: center;
  }

  &__image {
    flex: 0 5 auto;
    width: 100%;  // Influences flex-shrink
    margin-right: 0;
    margin-bottom: $content-px / 2;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex: 1 3 auto;
    flex-direction: column;
    width: 100%;  // Influences flex-shrink

    p:last-child {
      margin-bottom: 0;  // Override Bootstrap
    }
  }

  &__header {
    @include media-breakpoint-up($bp-content-font) {
      font-size: $font-size-xxl;
    }

    margin-bottom: 2rem;
    font-family: $font-family-title;
    font-size: $font-size-lg;
    color: $color-hl-3;
  }

  &__subheader {
    margin-bottom: 2rem;
    font-size: $font-size-lg * 1.15;  // Increase to compensate for lowercase type
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: $color-hl-3;
  }

  &__subcontent {
    // Extensible by modifier classes
  }

  &__row {
    @include make-row();

    justify-content: space-evenly;

    p:last-child {
      margin-bottom: 0;  // Override Bootstrap
    }
  }


  // Spacing


  &--compact {
    @include section-spacing($ratio: 0.5);

    &:first-of-type {
      // Don't decrease the initial padding if this is the first section
      @include media-breakpoint-up($bp-content-width) {
        padding-top: spacing-y($section-py-lg, 1);
      }

      padding-top: spacing-y($section-py-sm, 1);
    }
  }


  // Alignment


  &--left, &--right {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        align-items: start; // Aligns on vertical axis
      }
      @include media-breakpoint-up(xl) {
        align-items: center; // Aligns on vertical axis
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-bottom: 0;
      }
    }

    &#{$root}--floating {

      #{$root}__content {
        @include media-breakpoint-up($bp-content-row) {
          flex-direction: row;
        }
      }

      #{$root}__header {
        @include media-breakpoint-up($bp-content-row) {
          font-size: $font-size-lg;
          margin-bottom: 0;
        }
        @include media-breakpoint-up($bp-hires) {
          font-size: $font-size-xl;
        }
      }

      #{$root}__subcontent {
        @include media-breakpoint-up($bp-content-row) {
          flex: 1;
        }
      }

    }
  }

  &--left {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        flex-direction: row;

        // Only align on larger screens. When sections contain an image on smaller
        // screens the image is centered and the text should be centered beneath it.
        text-align: left;
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-right: $content-px / 2;
      }
    }

    &#{$root}--floating {

      #{$root}__body {
        // Floating sections don't contain images so we can align on small screens.
        text-align: left;
      }

      @include media-breakpoint-up($bp-content-row) {

        #{$root}__header {
          padding-right: $content-px / 2;
          text-align: right;
        }

        #{$root}__subcontent {
          padding-left: $content-px / 2;
          border-left: 1px solid $color-border;
        }

      }
    }
  }

  &--right {

    #{$root}__body {
      @include media-breakpoint-up($bp-content-row) {
        flex-direction: row-reverse;

        // Only align on larger screens. When sections contain an image on smaller
        // screens the image is centered and the text should be centered beneath it.
        text-align: right;
      }
    }

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-left: $content-px / 2;
      }
    }

    &#{$root}--floating {

      #{$root}__body {
        // Floating sections don't contain images so we can align on small screens.
        text-align: right;
      }

      @include media-breakpoint-up($bp-content-row) {

        #{$root}__content {
          flex-direction: row-reverse;
        }

        #{$root}__header {
          padding-left: $content-px / 2;
        }

        #{$root}__subcontent {
          padding-right: $content-px / 2;
          border-right: 1px solid $color-border;
          text-align: right;
        }

      }
    }
  }


  // Location Section


  &--location {
    @include flush-section-spacing();

    #{$root}__container {
      @include media-breakpoint-up($bp-content-width) {
        padding: ($section-py-lg / 2) $section-px-lg 0;
      }

      padding: ($section-py-sm / 2) $section-px-sm 0;
    }
  }


  // Verse Section


  &--verse {
    @include inverse-section-spacing();

    color: $color-hl-4;
    background-color: $color-hl-1;

    #{$root}__body {
      align-items: center;
    }

    #{$root}__content {
      font-style: italic;
      letter-spacing: 0.125em;
      text-align: center;
    }

    #{$root}__verse {
      margin-top: 1rem;
    }
  }


  // Mission & Vision Sections

  &--mission, &--vision {

    #{$root}__subheader {
      font-size: $font-size-xl;
    }
  }

  &--mission {
    padding-bottom: 0;  // Override
  }


  &--vision {
    @include wide-section($max-width: $vision-body-max-width, $root: $root);

    padding-bottom: 0;  // Override

    #{$root}__content {
      @include media-breakpoint-up($bp-content-width) {
        padding-bottom: spacing-y($section-py-lg);
        width: 75%;
      }

      padding-bottom: spacing-y($section-py-sm);
    }
  }


  // Profile Sections


  &--leadership {
    @include section-spacing($ratio: 0.5);

    #{$root}__image {
      @include media-breakpoint-up($bp-content-row) {
        margin-bottom: 0;  // Mimic section--left/right behavior
      }

      margin-bottom: 1rem;
    }
  }


  &--staff {
    @include section-spacing($ratio: 0.5);
    @include wide-section($max-width: $profile-body-max-width, $root: $root);

    #{$root}__subheader {
      margin-bottom: $grid-gutter-width;  // Mimic space between profiles
    }
  }


  // Giving Section


  &--giving {
    @include section-spacing($trailing-space: false)
  }


  // Divider Section


  &--divider {
    @include flush-section-spacing($ratio: 0.25);

    .hrule {
      @include media-breakpoint-up($bp-content-width) {
        padding: 0 ($section-px-lg * 2);  // Rule is narrower than content
      }

      width: 100%;  // Explicitly state this in case this is used in a flex container
      padding: 0 ($section-px-sm * 0.5);  // Rule is wider than content

      &__text {
        $hrule-text-height: $font-size-xxl * $headings-line-height - (1 / 16); // Subtract hr border-top

        @include hrule-spacing($ratio: 0.5, $reduce-by: $hrule-text-height);

        font-family: $font-family-header;
        font-weight: $font-weight-header;
        font-size: $font-size-xxl;
        font-style: normal;  // Reset
        letter-spacing: $letter-spacing-lg;
        color: $color-hl-3;
      }
    }
  }
}
